<footer>
  footer
</footer>

<script src="{{ "/assets/js/scripts.js"| prepend: site.baseurl }}"></script>

<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "WebPage",
  "name": "{{ page.title }}",
  "description": "{{ page.content | strip_html | xml_escape | truncate: 200 }}",
  "publisher": {
    "@type": "EducationalOrganization",
    "name": "Digital Library of the Middle East"
  },
  "license": "https://creativecommons.org/licenses/by-sa/4.0/legalcode"
}
</script>
