<footer>
</footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/classie/1.0.1/classie.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E=" crossorigin="anonymous"></script>
<script src="{{ "/assets/js/scripts.js"| prepend: site.baseurl }}"></script>

<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "WebPage",
  "name": "{{ page.title }}",
  "description": "{{ page.content | strip_html | xml_escape | truncate: 200 | strip }}",
  "publisher": {
    "@type": "EducationalOrganization",
    "name": "Digital Library of the Middle East"
  },
  "license": "https://creativecommons.org/licenses/by-sa/4.0/legalcode"
}
</script>
