---
layout: default
---
<header class="header">
  <ul class="grid">
    <li><h2>Title 1</h2></li>
    <li><h2>Title 2</h2></li>
    <li><h2>Title 3</h2></li>
    <li><h2>Title 4</h2></li>
    <li><h2>Piecing Together the Ritual Use of Egyptian Female Figurines</h2></li>
    <li><h2>Title 6</h2></li>
  </ul>
  <div class="bg-img"><img src="{{ page.background_url | prepend: site.url }}" alt="Background Image" /></div>
  <div class="title">
    <h1>{{ page.title }}</h1>
    <p class="subline">{{ page.subline }}</p>
    <p>by <strong>{{ page.author }}</strong></p>
  </div>
</header>
<button class="trigger" data-info="Start Reading"><span>Trigger</span></button>
<article class="content">
  <div>
    {{ content }}
  </div>
</article>
